<%= simple_form_for(@artwork) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label=>'Namn' %>
    <%= f.input :description, :label=>'Beskrivning', :input_html => { 'rows' => 5, 'cols' => 40 } %>
    <%= f.input :height, :label=>'Höjd', :as=>'string' %>
    <%= f.input :width, :label=>'Bredd', :as=>'string' %>
    <%= f.association :Collection, :label=>'Galleri' %>
    <%= f.association :Technique, :label=>'Teknik' %>
    <%= f.association :Material, :label=>'Material' %>
    <%= f.input :price, :label=>'Pris' %>
    <%= f.input :for_sale, :label=>'Till salu' %><br /><br />
    <%= f.file_field :image, :label=>'Bild' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Spara', :class=>'btn btn-primary' %>
  </div>
<% end %>


<% # jquery upload template # %>
<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="bar" style="width: 0%"></div></div></div></script>
