<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col-md-10 absolute-center'>
      <br />
        <h1 class='text-center title'><%= @artwork.name %></h1>
      <br />
  </div>
</div>
<div class='row'>
  <div class='col-md-10 absolute-center'>
      <% unless @artwork.image.blank?%><%= image_tag @artwork.image_url.to_s, :class=>'centerImage' %><% end %>
  </div>
  <div class='col-md-2'>
    <div class='btn-toolbar' role='toolbar'>
      <%= link_to '', artworks_path, :class=>'btn btn-default glyphicon glyphicon-home' %>  
      <br />    
      <% unless @previous_artwork.blank? %>
        <%= link_to '', artwork_path(@previous_artwork), :class=>'btn btn-default glyphicon glyphicon-arrow-left' %>
      <% end %>
      <% unless @next_artwork.blank? %>
        <%= link_to '', artwork_path(@next_artwork, :collectionId=>@collectionId), :class=>'btn btn-default glyphicon glyphicon-arrow-right' %>
      <% end %>
    </div>
    <br />
    <p><%= safe_join(@artwork.description.split("\r\n"), "<br />".html_safe) %></p>

    <% if !@artwork.height.blank? && !@artwork.width.blank? %>
      <p><%= @artwork.height %> * <%= @artwork.width %> cm</p>
    <% end %>

    <p> 
      <% unless @artwork.Technique.blank? %>
        <%= @artwork.Technique.name %>  
        <% unless @artwork.Material.blank? %>
          på <%= @artwork.Material.name %>
        <% end %>
      <% end %>
    </p>

    <p>
      <% if @artwork.for_sale == true %>
        <h5 class="text-success">Till salu pris <%= @artwork.price %> Kr</h5>
      <% end %>
    </p>

   <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
</div>
    <br />
    <br />
    <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>

    <% if user_signed_in? %>
    <br />
    <br />
      <%= link_to 'Ändra', edit_artwork_path(@artwork) %><br /><br />
    <% end %>
  </div>
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '839950956026050',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
