
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

      <li><%= link_to 'Hem ', artworks_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samlingar<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% @collections.each do |collection| %>
            <li><%= link_to collection.name, artworks_path(:collectionId => collection.id) %></li>
          <% end %>
        </ul>
      </li>
      <% if user_signed_in? %> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrera<b class="caret"></b></a>
            <ul class="dropdown-menu">
            	<li role='presentations'><%= link_to 'Samlingar', collections_path %></li>
            	<li role='presentations'><%= link_to 'Tekniker', techniques_path %></li>
              <li role='presentations'><%= link_to 'Material', materials_path %></li>
            </ul>
          </li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Om<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li role='presentationa'><%= link_to 'Om mig', about_me_path %></li>
            <li role='presentations'><%= link_to 'Vanliga frågor', faq_path %></li>
          </ul>
        </li>
        <li><%= link_to 'Beställningar', order_infos_path %></li>
        <li><%= link_to 'Nyheter', news_index_path %></li>
        <li><%= link_to 'Kontakta mig!', contact_us_path %></li>
      </ul>
</nav>