<table>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td>
            <%= image_tag news.image.thumb.to_s, :class=>'preview' %>
        </td>
        <td>
          <h2><%= link_to news.header, news_path(news) %></h2>
          <p>
            <%= truncate(news.body) %>
          </p>
          <p>
            <div class='text-muted'><%= news.created_at.to_date %></div>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
  <div class='pagination'>
    <%= will_paginate @forum_posts, :container => false %>
  </div>
<br />


<% if user_signed_in? %>
  <%= link_to 'Lägg till', new_news_path %>
<% end %>