<h2><%= @news.header %></h2>

<p>
	<%= image_tag @news.image.to_s %>
</p>
<p>
	<%= safe_join(@news.body.split("\r\n"), "<br />".html_safe) %>
</p>
<p>
	<div class='text-muted'><%= @news.created_at.to_date %></div>
</p>
<p>
	<%= link_to 'Åter till nyheter', news_index_path %>
</p>

<% if user_signed_in? %>
<p>
  <%= link_to 'Ändra', edit_news_path(@news) %>
  <%= link_to 'Ta bort', @news, method: :delete, data: { confirm: 'Är du säker?' } %>
<p>
<% end %>
