<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :first_name, :label => 'Förnamn' %>
    <%= f.input :last_name, :label => 'Efternamn' %>
    <%= f.input :email, :label => 'Telefon' %>
    <%= f.input :phone, :label => 'E-post' %>
    <%= f.input :message, :label => 'Meddelande' %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Spara', :class=>'btn btn-primary' %>
  </div>
<% end %>
